@if (Order != null)
{
    <tr>
        <td>
            @if (Order.DatePlaced.HasValue)
            {
                @Order.DatePlaced.Value.ToString("yyyy-MM-dd");
            }
        </td>
        <td>
            @if (!Order.DateProcessed.HasValue)
            {
                <NavLink href="@($"orderdetail/{Order.OrderId}")">
                    @Order.OrderId
                </NavLink>
            }
            else
                @Order.OrderId

        </td>
        <td>@Order.TenKhachHang</td>
        <td>@Order.DiaChi</td>        
    </tr>
}

@code {
    [Parameter]
    public Order Order { get; set; }
}
