<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly"
            AdditionalAssemblies="new[]{
                      typeof(THONGTINDONHANG.Pages.XemThanhPhanSP).Assembly,
                      typeof(ADMIN.Pages.ThanhPhanDHThanhToan).Assembly
                                }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <ThanhPhanDangNhap ></ThanhPhanDangNhap>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">
                    Xin lỗi, không có gì ở địa chỉ này.
                </p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


